/*Reset*/
html, body {
    height: 100vh;
    width: 100vw;
}
body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/*Alteraçoes padrao*/

.link{
    text-decoration: none;
}
.bolinha-item-lista{
    list-style: none;
}
/*botao verde*/
.selecionar{
    background-color: green;
    padding: 17px 50px;
    box-sizing: border-box;
    color: aliceblue;
    border: none;
    border-radius: 20%;
}        

/* HEADER */
/* Menu */

.cabecalho{
    background-color: rgb(61,61,61);
}

.menu{
    background-color: gray;
    width: 100%;
    color: white;
}
.menu__logo{
    display: inline-block;
    margin: auto 0;
    width: 20%;
}
.menu__logo__img{
    width: 100%;
}
.menu__titulo{
    display: inline-block;
    width: 30%;
    position: relative;
}
.menu__lista{
    text-align: left;
    display: inline-block;
}
.menu__lista-oculta{
    display: none;
    text-align: left;
}

/* FIM NAVBAR*/

/* Hero */

.hero{
    background-color: gray;
    width: 100%;
    color: white;
    text-align: center;
}
.hero__titulo{
    margin: 0;
}


/* FIM  HERO */

/* FIM HEADER */


    /* CSS - rodapé */

.conjunto-links{
  
    padding: 0;
    box-sizing: border-box;
    width: 100%; 
    text-align: center;
}


.lista-links{    
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    padding:5px;
    border: solid 1px black;
    width: 40%;
    
}

.lista-links_title{
    list-style-type: none;
   
    padding:0;
}
.lista-links_lista{
 
    list-style-type: none;
    text-align: justify;
    
    padding:0;
    -moz-text-decoration-color: blue;
    -webkit-text-fill-color: blue;
    -webkit-text-stroke-color: blue;
    text-decoration-color: blue;
}

/* inicio links rede social mobile-*/

    .rede-social-grupo-icones{
        text-align: center;
    }

    .rede-social-icone{
        border-radius: 50%;
        width: 2em;
        margin: 0.1em;
   }

/* fim links rede social mobile-*/


/* o botão foi colocado mas é elemnto comum à demais sections -*/




    .plano-basic{
        padding: 10px 10px;
        margin: 5% 5%;   
        text-align: center;
        background-color: rgb(220,220,220);
    }

    .plano-standart{
        padding: 10px 10px;
        margin: 5% 5%;   
        text-align: center;
        background-color: rgb(220,220,220);
        display: none;
    }

    .plano-pro{
        padding: 10px 10px;
        margin: 5% 5%;   
        text-align: center;
        background-color: rgb(220,220,220);
        display: none;
    }



    .preco-plano{
        margin: 0 10% 10% 0;
        font-weight: bold;
        font-size: 5em;
        text-align: center;
        box-sizing: border-box;
    }
   
    
    .selecionar{
        background-color: green;
        padding: 10px 50px;
        box-sizing: border-box;
        color: aliceblue;
        border: none;
        border-radius: 7px; /*Arrumar radios do botão basta colocar px ao inves de %*/
        width: 50%;
        padding: 15px;
        margin-bottom: 10%;
    }
    .plano-basic-descricao{
        padding: 20px;
        background-color: rgb(241, 237, 237);
        margin: 5% 5%;   
    }

    .plano-checado-img{
        margin: 0;
        vertical-align: top;
        width: 10%;
        display: inline-block;
    }

    .plano-checado-img__check-ok{        
        width: 100%;

    }

    .plano-checado-itens{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 80%;
    }
    .pesquisa-conteudo{
        text-align: center;
        display: block;
        width: 90%;
    }
    .pesquisa{
        display: block;
        text-align: center;
        padding: 15px;
        margin: 5px;
        width: 80%;
    }

    .pre-footer{
        background-color: rgb(90,90,90);

    }

    .final-da-linha{
        background-color: rgb(61,61,61);
        text-decoration-color: white;
        -moz-text-decoration-color: white;
    }

/* fim bloco de planos -*/

@media(min-width: 768px){

    .plano{
        display: inline-block; 
        width:30%;
    }
    .plano-standart{
       display: inline-block;
       width:30%;
    }

    .plano-pro{
        display: inline-block;
        width:30%;
    }


}